version: "3.9"

services:
  database:
    image: postgres:16
    container_name: database
    env_file:
      - ./backend/.env
    environment:
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    ports:
      - "${DATABASE_PORT}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - mynet
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
      args:
        DEVICE: cpu
    container_name: backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend/app/video_test:/backend/app/video_test
    depends_on:
      - database
    networks:
      - mynet

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/frontend
      - /frontend/node_modules # Prevent host node_modules from overriding container's
    depends_on:
      - backend
    networks:
      - mynet

networks:
  mynet:
# docker compose up --build

